<!DOCTYPE html>
<html>
<head>
    <title> Etihaad</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css"/>
    <style>
        .container.main{
            margin-top: 7.0em;
        }
        h1{
            margin-top: 3.0em;
        }
        i.icon{
            font-size: 2.0em;
        }
    </style>
</head>
<body>
<div class="ui fixed inverted menu">
    <div class="ui container">
           </div>

</div>